# Project Settings
PROJECT_NAME=${PROJECT_NAME}
APP_ENV=dev
APP_SECRET=${APP_SECRET}

# Frontend Settings
VITE_API_URL=http://localhost:${BACKEND_PORT}
PORT=${FRONTEND_PORT}

# Backend Settings
DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@mysql:3306/${MYSQL_DATABASE}?serverVersion=8.0
CORS_ALLOW_ORIGIN=^https?://localhost(:[0-9]+)?$

# Database Settings
MYSQL_DATABASE=${MYSQL_DATABASE}
MYSQL_USER=${MYSQL_USER}
MYSQL_PASSWORD=${MYSQL_PASSWORD}
MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}

# Ports
FRONTEND_PORT=${FRONTEND_PORT}
BACKEND_PORT=${BACKEND_PORT}
MYSQL_PORT=${MYSQL_PORT}
ADMINER_PORT=${ADMINER_PORT}